# --- Secrets / local runtime config ---
config/config.ini
config/*.local.ini
config/*.secret.ini

# --- Committed template(s) ---
!config/config.template.ini



# --- data & downloads (jamais sur github) ---
data/
**/data/
**/*.csv
**/*.zip
**/*.gz
**/*.xlsx
**/*.xls

# --- logs ---
logs/
**/logs/
*.log

# --- python ---
__pycache__/
*.pyc
.venv/
.env
